.advantage {
    min-height: 471px;
    padding: 71px 0 78px 0;
    &__header {
        text-align: center; 
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        width: 922px;
    }
    &__icon {
        width: 243px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__subheader {
        font-size: 18px;
        font-weight: 700;
        margin-top: 38px;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
    }
    &_love {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        color: red;
    }
}